@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #1f1836be;
  }

  section {
    height: 650px;
    display: flex;
    justify-content: left;
    padding: 0 40px;
    align-items: center;
  }

 section h2 {
    font-family: Poppins;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin-bottom: 5px;
 }

 /*First practice css*/

.container {
    position: absolute;
    top: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
}

.item {
    position: absolute;
    background-color: transparent;
    width: calc(var(--i) * 2.5vmin);
    aspect-ratio: 1;
    border-radius: 50%;
    border: .90vmin solid rgb(255, 137, 204);
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px);
    animation: waves-move 4s ease-in-out calc(var(--i) * 0.08s) infinite;
    box-shadow: 0px 0px 15px rgb(124, 124, 124),
    inset 0px 0px 15px rgb(124, 124, 124);
}

@keyframes waves-move {
    0%, 100%{
        transform: rotateX(70deg) translateZ(50px) translateY(0px);
        filter: hue-rotate(0deg);
    }
    50% {
        transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
        filter: hue-rotate(180deg);
    }
    }
 
/*Second practice css*/
.container-second{
    top: 0;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.square1 {
width: 70px;
height: 70px;
background: #801245;
margin:8px;
}
.square1:hover{
transform: scale(0.75);
transition: 1s;

}
.square2 {
width: 70px;
height: 70px;
background: #fe4365;
margin:8px;
}
.square2:hover{
transform: scaleX(0.5);
transition: 1s;
}
.square3 {
width: 70px;
height: 70px;
background: #fc9d9a;
margin:8px;
}
.square3:hover{
transform: rotate(45deg);
transition: 1s;
}
.square4 {
width: 70px;
height: 70px;
background: #f9cdad;
margin:8px;
}
.square4:hover{
transform: skewX(-25deg);
transition: 1s;
}
.square5 {
width: 70px;
height: 70px;
background: #f4f4dd;
margin:8px;
}
.square5:hover{
transform: skew(20deg, 5deg);
transition: 1s;
}
.square6 {
width: 70px;
height: 70px;
background: #c8c8a9;
margin:8px;
}
.square6:hover{
transform: translate(5px, 12px);
transition: 1s;
}
.square7 {
width: 70px;
height: 70px;
background: #83af9b;
margin:8px;
}
.square7:hover{
transform: matrix(0.7, -0.5, 0.5, 0.4, 0.5, 0.7);
transition: 1s;
}

 