@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #1f1836be;
  }

  section {
    height: 100%;
    display: flex;
    justify-content: left;
    padding: 0 40px;
    align-items: center;
  }

 section h2 {
    font-family: Poppins;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin-bottom: 5px;
 }

 /*First practice css*/

.container {
    position: absolute;
    top: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
}

.item {
    position: absolute;
    background-color: transparent;
    width: calc(var(--i) * 2.5vmin);
    aspect-ratio: 1;
    border-radius: 50%;
    border: .90vmin solid rgb(255, 137, 204);
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px);
    animation: waves-move 4s ease-in-out calc(var(--i) * 0.08s) infinite;
    box-shadow: 0px 0px 15px rgb(124, 124, 124),
    inset 0px 0px 15px rgb(124, 124, 124);
}

@keyframes waves-move {
    0%, 100%{
        transform: rotateX(70deg) translateZ(50px) translateY(0px);
        filter: hue-rotate(0deg);
    }
    50% {
        transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
        filter: hue-rotate(180deg);
    }
    }
 
/*Second practice css*/
.sec2 {
   background: 917FB3;
}
.container-second{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}
.square1 {
width: 70px;
height: 70px;
background: #801245;
margin:8px;
}
.square1:hover{
transform: scale(0.75);
transition: 1s;

}
.square2 {
width: 70px;
height: 70px;
background: #fe4365;
margin:8px;
}
.square2:hover{
transform: scaleX(0.5);
transition: 1s;
}
.square3 {
width: 70px;
height: 70px;
background: #fc9d9a;
margin:8px;
}
.square3:hover{
transform: rotate(45deg);
transition: 1s;
}
.square4 {
width: 70px;
height: 70px;
background: #f9cdad;
margin:8px;
}
.square4:hover{
transform: skewX(-25deg);
transition: 1s;
}
.square5 {
width: 70px;
height: 70px;
background: #f4f4dd;
margin:8px;
}
.square5:hover{
transform: skew(20deg, 5deg);
transition: 1s;
}
.square6 {
width: 70px;
height: 70px;
background: #c8c8a9;
margin:8px;
}
.square6:hover{
transform: translate(5px, 12px);
transition: 1s;
}
.square7 {
width: 70px;
height: 70px;
background: #83af9b;
margin:8px;
}
.square7:hover{
transform: matrix(0.7, -0.5, 0.5, 0.4, 0.5, 0.7);
transition: 1s;
}




 /*third practice css*/
 .sec3 {
   background: #182747;
}
 .container-third{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
}
 label {
    margin:200px;
    width: 500px;
    height: 200px;
    position: relative;
    display: block;
    background: url(https://64.media.tumblr.com/559f6d708802cf218cbc7cfa03ce0036/a869f36ae7dc6120-b7/s540x810/0cfbaf00a166dc40d8488190744f8daad51a669c.gifv) no-repeat;
    border-radius: 200px;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.671), 
    inset 5px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.8s;
 }

 label:after {
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg,#d1dadc6e, #0040b869);
    border-radius: 180px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);
    transition: 0.8s;
 }

 input {
    width: 0;
    height: 0;
    visibility: hidden;
 }

 input:checked + label {
    background: url(https://64.media.tumblr.com/d553b5ca4d4f2947b52e50c7d2fdad0d/af809c7927f7d5f2-73/s540x810/549d22afdfd860a13c050cb2f825b6245c3bbaff.gifv) no-repeat;
}

 input:checked + label:after {
    left: 490px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #d3eff97d, #1a375d6b);
 }
 label, label:after {
   transition: 0.8s;
 }

 label:active:after{
    width: 260px;
 }
